{
  "$schema": "http://json.schemastore.org/prettierrc",
  "printWidth": 100,
  "proseWrap": "always",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
