@keyframes PillGrey-module_slideDown__wH1hZ {
  0% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes PillGrey-module_flyIn__MdsDx {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PillGrey-module_flyOut__LQtPF {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes PillGrey-module_fadeIn___mLnx {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.PillGrey-module_flexContainer__ODUKN {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.PillGrey-module_expandToRow__aTomr {
}
@media (min-width: 444px) {
  .PillGrey-module_expandToRow__aTomr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
@media (max-width: 991.98px) {
  .PillGrey-module_mobileColumn__YpIYL {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.PillGrey-module_visually-hidden__Hz7ml {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.PillGrey-module_skip-link__FFbSP {
  position: absolute;
  left: -9999px;
  top: 5px;
  z-index: 999;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: "nyt-franklin";
  font-weight: 700;
  border-radius: 3px;
  background: #fff;
}
.PillGrey-module_skip-link__FFbSP:focus {
  left: 50%;
  transform: translateX(-50%);
  outline: 0.125rem solid #346eb7;
  outline-offset: 0.125rem;
}
.PillGrey-module_pill__fJN18 {
  font-family: nyt-franklin, Arial;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 0.75rem;
  background: #363636;
  color: #fff !important;
  height: 24px;
  display: flex;
  text-transform: uppercase;
  border-radius: 6px;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  padding: 5px 8px;
  align-items: center;
}
.PillGrey-module_pill__fJN18.PillGrey-module_default__YL9K9 {
  position: static;
}
.PillGrey-module_pill__fJN18.PillGrey-module_top-right-edge__LLm7D {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
}
.PillGrey-module_pill__fJN18.PillGrey-module_top-right-edge-outer__kIzlB {
  position: absolute;
  top: -1.3em;
  right: -0.1em;
}
.PillGrey-module_pill__fJN18.PillGrey-module_top-right-edge-inner__xGxjg {
  position: absolute;
  top: -1em;
  right: -0.1em;
}
.PillGrey-module_pill__fJN18.PillGrey-module_tab-inline__vttJK {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
@media (max-width: 499px) {
  .PillGrey-module_pill__fJN18.PillGrey-module_top-right-edge__LLm7D {
    top: 0.75em;
    right: 0.75em;
  }
}
@keyframes Banner-module_slideDown__EUWPK {
  0% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes Banner-module_flyIn__Ifqfr {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Banner-module_flyOut__kNaoB {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Banner-module_fadeIn__DpqRq {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Banner-module_flexContainer__fxcX2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.Banner-module_expandToRow__gmkDm {
}
@media (min-width: 444px) {
  .Banner-module_expandToRow__gmkDm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
@media (max-width: 991.98px) {
  .Banner-module_mobileColumn__X1bQJ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.Banner-module_visually-hidden__Jdirq {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.Banner-module_skip-link__no36s {
  position: absolute;
  left: -9999px;
  top: 5px;
  z-index: 999;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: "nyt-franklin";
  font-weight: 700;
  border-radius: 3px;
  background: #fff;
}
.Banner-module_skip-link__no36s:focus {
  left: 50%;
  transform: translateX(-50%);
  outline: 0.125rem solid #346eb7;
  outline-offset: 0.125rem;
}
button.Banner-module_button-primary__STfaj,
button.Banner-module_largeBanner__button__ya9kq,
button.Banner-module_button-transparent__UBRAe,
button.Banner-module_button-dark-mode-support__mcAEd,
button.Banner-module_button-card-secondary__BQzSl,
button.Banner-module_button-card-primary__IK9cZ,
button.Banner-module_button-secondary__oJafj {
  font-weight: 600;
  font-family: "nyt-franklin";
  background: var(--bg-btn-emphasis);
  color: var(--text-alternate);
  border: 1px solid var(--stroke);
  border-radius: 9999px;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
button.Banner-module_button-primary__STfaj:hover:enabled,
button.Banner-module_largeBanner__button__ya9kq:hover:enabled,
button.Banner-module_button-transparent__UBRAe:hover:enabled,
button.Banner-module_button-dark-mode-support__mcAEd:hover:enabled,
button.Banner-module_button-card-secondary__BQzSl:hover:enabled,
button.Banner-module_button-card-primary__IK9cZ:hover:enabled,
button.Banner-module_button-secondary__oJafj:hover:enabled {
  background: var(--text-secondary);
}
button.Banner-module_button-primary__STfaj:active,
button.Banner-module_largeBanner__button__ya9kq:active,
button.Banner-module_button-transparent__UBRAe:active,
button.Banner-module_button-dark-mode-support__mcAEd:active,
button.Banner-module_button-card-secondary__BQzSl:active,
button.Banner-module_button-card-primary__IK9cZ:active,
button.Banner-module_button-secondary__oJafj:active {
  background: var(--text-subdued);
}
button.Banner-module_button-primary__STfaj:focus:enabled,
button.Banner-module_largeBanner__button__ya9kq:focus:enabled,
button.Banner-module_button-transparent__UBRAe:focus:enabled,
button.Banner-module_button-dark-mode-support__mcAEd:focus:enabled,
button.Banner-module_button-card-secondary__BQzSl:focus:enabled,
button.Banner-module_button-card-primary__IK9cZ:focus:enabled,
button.Banner-module_button-secondary__oJafj:focus:enabled {
  border: 1px solid #a7d8ff;
}
button.Banner-module_button-primary__STfaj:focus-visible:enabled,
button.Banner-module_largeBanner__button__ya9kq:focus-visible:enabled,
button.Banner-module_button-transparent__UBRAe:focus-visible:enabled,
button.Banner-module_button-dark-mode-support__mcAEd:focus-visible:enabled,
button.Banner-module_button-card-secondary__BQzSl:focus-visible:enabled,
button.Banner-module_button-card-primary__IK9cZ:focus-visible:enabled,
button.Banner-module_button-secondary__oJafj:focus-visible:enabled {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}
button.Banner-module_button-primary__STfaj:disabled,
button.Banner-module_largeBanner__button__ya9kq:disabled,
button.Banner-module_button-transparent__UBRAe:disabled,
button.Banner-module_button-dark-mode-support__mcAEd:disabled,
button.Banner-module_button-card-secondary__BQzSl:disabled,
button.Banner-module_button-card-primary__IK9cZ:disabled,
button.Banner-module_button-secondary__oJafj:disabled {
  opacity: 0.5;
  cursor: default;
  border: 1px solid rgba(0, 0, 0, 0);
}
button.Banner-module_button-secondary__oJafj {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
button.Banner-module_button-secondary__oJafj:hover:enabled {
  background: #f4f4f4;
  color: #000;
}
button.Banner-module_button-secondary__oJafj:active {
  background: #e6e6e6;
}
button.Banner-module_button-secondary__oJafj:disabled {
  background: #fff;
}
button.Banner-module_button-card-primary__IK9cZ {
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0);
}
button.Banner-module_button-card-primary__IK9cZ:hover:enabled {
  background-color: #5960ec;
  border: 2px solid rgba(0, 0, 0, 0);
}
button.Banner-module_button-card-primary__IK9cZ:active {
  background-color: #5960ec;
  border: 2px solid #000;
}
button.Banner-module_button-card-primary__IK9cZ:focus:enabled {
  border: 2px solid #a7d8ff;
}
button.Banner-module_button-card-primary__IK9cZ:focus-visible:enabled {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}
button.Banner-module_button-card-primary__IK9cZ:disabled {
  border: 2px solid rgba(0, 0, 0, 0);
}
button.Banner-module_button-card-secondary__BQzSl {
  text-transform: uppercase;
  background: #fff;
  color: #000;
  border: 2px solid #000;
}
button.Banner-module_button-card-secondary__BQzSl:hover:enabled {
  background-color: #fff;
  color: #5960ec;
  border: 2px solid #5960ec;
}
button.Banner-module_button-card-secondary__BQzSl:active {
  background-color: #fff;
  color: #5960ec;
  border: 2px solid #000;
}
button.Banner-module_button-card-secondary__BQzSl:focus:enabled {
  border: 2px solid #a7d8ff;
}
button.Banner-module_button-card-secondary__BQzSl:focus-visible:enabled {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}
button.Banner-module_button-card-secondary__BQzSl:disabled {
  background: #fff;
  border: 2px solid #000;
}
button.Banner-module_button-dark-mode-support__mcAEd {
  background: var(--bg-btn-emphasis);
  color: var(--text-alternate);
  border: none;
}
button.Banner-module_button-dark-mode-support__mcAEd:hover:enabled {
  background: #f4f4f4;
  color: #000;
}
button.Banner-module_button-dark-mode-support__mcAEd:active {
  background: #e6e6e6;
}
button.Banner-module_button-dark-mode-support__mcAEd:disabled {
  background: #fff;
}
button.Banner-module_button-dark-mode-support__mcAEd.Banner-module_no-hover-dark-button__LL2mg:hover:enabled,
button.Banner-module_button-dark-mode-support__mcAEd.Banner-module_no-hover-dark-button__LL2mg:active {
  background: var(--bg-btn-emphasis);
  color: var(--text-alternate);
}
button.Banner-module_button-transparent__UBRAe {
  background: var(--transparent);
  color: var(--text);
  border: 1px solid var(--stroke);
}
button.Banner-module_button-transparent__UBRAe:hover:enabled {
  background: var(--transparent);
  color: var(--text);
}
button.Banner-module_button-transparent__UBRAe:active {
  background: var(--transparent);
  color: var(--text);
}
button.Banner-module_button-transparent__UBRAe:disabled {
  background: var(--transparent);
  color: var(--text);
}
.Banner-module_banner__8ZXZF,
.Banner-module_largeBanner__Tg6Re,
.Banner-module_appAdIconBanner__CZlHO,
.Banner-module_multiIconBanner__KZi3f,
.Banner-module_singleIconBanner__LFn3K {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #000;
  justify-content: space-evenly;
  z-index: 50;
}
.Banner-module_banner__Information__lRLS7,
.Banner-module_appAdIconBanner__Content__YCtv3,
.Banner-module_multiIconBanner__Information__fIvsn,
.Banner-module_singleIconBanner__Information__JAPtb {
  align-items: center;
  font-family: nyt-franklin, Arial;
  font-size: 16px;
  font-size: 1rem;
  line-height: 20.8px;
  line-height: 1.3rem;
}
.Banner-module_arrow__TDcAh {
  transform: rotate(180deg) translateX(100%);
  padding: 0;
  width: 15px;
  margin-left: calc(var(--horizontal-spacing-0-5) * 2.5);
  background: #fff;
  border: 0;
  cursor: pointer;
}
@media (min-width: 500px) {
  .Banner-module_arrow__TDcAh {
    margin-left: calc(var(--horizontal-spacing-1-5) * 2);
  }
}
a {
  color: inherit;
  text-decoration: none;
}
.Banner-module_singleIconBanner__LFn3K {
  min-height: 118px;
}
@media (max-height: 600px) {
  .Banner-module_singleIconBanner__LFn3K {
    min-height: 90px;
  }
}
@media (max-height: 550px) {
  .Banner-module_singleIconBanner__LFn3K {
    min-height: 70px;
  }
}
.Banner-module_singleIconBanner__LFn3K .Banner-module_arrow__TDcAh {
  order: 3;
  padding-right: calc(var(--horizontal-spacing-0-5) * 3.75);
}
.Banner-module_singleIconBanner__LFn3K .Banner-module_icon__eBv6E {
  max-width: 100px;
  margin-left: 0.8rem;
}
.Banner-module_singleIconBanner__LFn3K .Banner-module_icon_wordlebot__EXvKK {
  content: var(--wordlebot-walking-icon);
  width: 62px;
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_wordleArchive__tpNcM {
  margin-left: 0;
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_wordleArchive__tpNcM
  svg {
  height: 100%;
  border-radius: 4px;
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_connectionsStats__aTafh {
  margin-left: 0;
  width: 100px;
  content: url("https://www.nytimes.com/games-assets/v2/assets/connections/connections_CTA.gif");
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_connectionsArchive__CmcnL {
  margin-left: 0;
  width: 70px;
  content: url("https://www.nytimes.com/games-assets/v2/assets/connections/connections-archive-cta.svg");
}
.Banner-module_singleIconBanner__LFn3K .Banner-module_icon_miniArchive__qL7Tq {
  width: 70px;
  content: url("https://www.nytimes.com/games-assets/v2/assets/icons/mini_archive.png");
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_miniLeaderboard__J9isr {
  margin: 0 calc(var(--horizontal-spacing-0-5) * 2.5) 0 0;
  width: 86px;
  content: url("https://www.nytimes.com/games-assets/v2/assets/icons/mini_leaderboard.png");
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_connectionsLeaderboardFriends__bOxQI {
  width: 81px;
  margin-left: 0;
  content: url("https://www.nytimes.com/games-assets/icons/banner-cta/connections_leaderboard_friends.svg");
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_miniLeaderboardFriends__BD7i9 {
  width: 81px;
  margin-left: 0;
  content: url("https://www.nytimes.com/games-assets/icons/banner-cta/mini_leaderboard_friends.svg");
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_sbLeaderboardFriends__B0N9r {
  width: 81px;
  margin-left: 0;
  content: url("https://www.nytimes.com/games-assets/icons/banner-cta/sb_leaderboard_friends.svg");
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_wordleLeaderboardFriends__OTDnC {
  height: 85px;
  width: 81px;
  margin-left: 0;
  content: url("https://www.nytimes.com/games-assets/icons/banner-cta/wordle_leaderboard_friends.svg");
}
.Banner-module_singleIconBanner__LFn3K .Banner-module_icon_crossplay__vFB_1 {
  width: 56px;
  height: 56px;
  margin-left: 0;
  content: url("https://storage.googleapis.com/games-assets/v2/assets/icons/crossplay_app_icon_rounded.svg");
}
.Banner-module_singleIconBanner__LFn3K .Banner-module_icon_pips__iycOt {
  width: 85px;
  margin-left: 0;
  content: url("https://www.nytimes.com/games-assets/icons/banner-cta/pips_appdownload_cta.svg");
}
.Banner-module_singleIconBanner__LFn3K
  .Banner-module_icon_crosswordPreWeek__xo2I2 {
  width: 76px;
  height: 76px;
  margin-left: 0;
  content: url("./assets/crossword-family-week/pre_week_icon.svg");
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crosswordPreWeekBanner__W0lvl {
  min-height: 76px;
  justify-content: flex-start;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crosswordPreWeekBanner__W0lvl
  .Banner-module_singleIconBanner__Information__JAPtb {
  flex: 1;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crosswordPreWeekBanner__W0lvl
  .Banner-module_icon__eBv6E {
  margin: 0;
  flex-shrink: 0;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crosswordPreWeekBanner__W0lvl
  .Banner-module_singleIconBanner__BodyContent__DBVyl,
.Banner-module_singleIconBanner__LFn3K.Banner-module_crosswordPreWeekBanner__W0lvl
  .Banner-module_appAdIconBanner__Information__OKY8_ {
  flex: 1;
  margin-left: var(--horizontal-spacing-2);
  width: auto;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crosswordPreWeekBanner__W0lvl
  .Banner-module_arrow__TDcAh {
  flex-shrink: 0;
  order: 3;
  margin: 0 var(--horizontal-spacing-1-5);
  padding: 0;
  transform: rotate(180deg);
}
.Banner-module_singleIconBanner__Information__JAPtb {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  white-space: pre-wrap;
}
@media (max-height: 668px) and (max-width: 375px) {
  .Banner-module_singleIconBanner__Information__JAPtb {
    margin-top: var(--vertical-spacing-1);
  }
}
.Banner-module_singleIconBanner__BodyContent__DBVyl,
.Banner-module_appAdIconBanner__Information__OKY8_ {
  margin-left: 3%;
  width: 230px;
  text-align: left;
}
.Banner-module_singleIconBanner__BodyContent__DBVyl .Banner-module_title__far_o,
.Banner-module_appAdIconBanner__Information__OKY8_ .Banner-module_title__far_o {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20.8px;
  line-height: 1.3rem;
  font-weight: 700;
  margin: 0;
}
.Banner-module_singleIconBanner__BodyContent__DBVyl
  .Banner-module_title__far_o.Banner-module_titleLeaderboardFriends__HMgRQ,
.Banner-module_appAdIconBanner__Information__OKY8_
  .Banner-module_title__far_o.Banner-module_titleLeaderboardFriends__HMgRQ {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 23.4px;
  line-height: 1.4625rem;
  margin: var(--vertical-spacing-0-5) 0;
}
.Banner-module_singleIconBanner__BodyContent__DBVyl
  .Banner-module_title__far_o.Banner-module_titleCrossplayStrands__sBh00,
.Banner-module_appAdIconBanner__Information__OKY8_
  .Banner-module_title__far_o.Banner-module_titleCrossplayStrands__sBh00 {
  padding: 0;
}
.Banner-module_singleIconBanner__BodyContent__DBVyl
  .Banner-module_title__far_o.Banner-module_titlePips__jTS1J,
.Banner-module_appAdIconBanner__Information__OKY8_
  .Banner-module_title__far_o.Banner-module_titlePips__jTS1J {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 23.4px;
  line-height: 1.4625rem;
  margin: var(--vertical-spacing-0-5) 0;
}
.Banner-module_singleIconBanner__BodyContent__DBVyl
  .Banner-module_title__far_o.Banner-module_titleCrosswordPreWeek__hxvWt,
.Banner-module_appAdIconBanner__Information__OKY8_
  .Banner-module_title__far_o.Banner-module_titleCrosswordPreWeek__hxvWt {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18.2px;
  line-height: 1.1375rem;
  font-weight: 700;
  line-height: 130%;
  width: auto;
  padding: 0;
}
.Banner-module_singleIconBanner__BodyContent__DBVyl
  .Banner-module_messageLeaderboardFriends__nLNWw,
.Banner-module_appAdIconBanner__Information__OKY8_
  .Banner-module_messageLeaderboardFriends__nLNWw {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18.2px;
  line-height: 1.1375rem;
}
.Banner-module_singleIconBanner__BodyContent__DBVyl
  .Banner-module_messageCrossplay__NIKJN,
.Banner-module_appAdIconBanner__Information__OKY8_
  .Banner-module_messageCrossplay__NIKJN,
.Banner-module_singleIconBanner__BodyContent__DBVyl
  .Banner-module_messagePips__szJ5R,
.Banner-module_appAdIconBanner__Information__OKY8_
  .Banner-module_messagePips__szJ5R {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18.2px;
  line-height: 1.1375rem;
  font-weight: 500;
  width: 240px;
}
.Banner-module_singleIconBanner__BodyContent__DBVyl
  .Banner-module_messageCrosswordPreWeek__QClcW,
.Banner-module_appAdIconBanner__Information__OKY8_
  .Banner-module_messageCrosswordPreWeek__QClcW {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 15.6px;
  line-height: 0.975rem;
  font-weight: 500;
  line-height: 130%;
  color: #121212;
  white-space: pre-line;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v {
  position: fixed;
  bottom: var(--spacing-2);
  left: var(--spacing-2);
  right: var(--spacing-2);
  width: auto;
  min-height: 110px;
  z-index: 50;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  padding: 0;
  gap: 0;
  justify-content: flex-start;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v
  .Banner-module_singleIconBanner__Information__JAPtb {
  flex: 1;
  margin: 0;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0;
  white-space: normal;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v
  .Banner-module_icon__eBv6E {
  max-width: none;
  flex-shrink: 0;
  align-self: stretch;
  margin: 0;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v
  .Banner-module_crossplayRiveContainer__wtdP9 {
  width: 110px;
  height: 110px;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v
  .Banner-module_singleIconBanner__BodyContent__DBVyl,
.Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v
  .Banner-module_appAdIconBanner__Information__OKY8_ {
  flex: 1;
  margin-left: var(--horizontal-spacing-2);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-0-5);
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v
  .Banner-module_titleCrossplay__dNsBS {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 23.4px;
  line-height: 1.4625rem;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0;
  width: auto;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v
  .Banner-module_messageCrossplay__NIKJN {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18.2px;
  line-height: 1.1375rem;
  font-weight: 500;
  line-height: 1.3em;
  color: #121212;
  width: auto;
  margin: 0;
  white-space: pre-line;
}
.Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v
  .Banner-module_arrow__TDcAh {
  flex-shrink: 0;
  order: 3;
  margin: 0 var(--horizontal-spacing-1-5);
  padding: 0;
  background: rgba(0, 0, 0, 0);
  transform: rotate(180deg);
  width: 10px;
}
@media (min-width: 500px) {
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v {
    width: 343px;
    left: 50%;
    right: auto;
    bottom: var(--spacing-2);
    transform: translateX(-50%);
  }
}
@media (max-width: 375px) {
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX {
    min-height: 91px;
    padding-bottom: var(--vertical-spacing-1);
    transform: translateZ(0);
    will-change: transform;
  }
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_messagePips__szJ5R {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18.2px;
    line-height: 1.1375rem;
  }
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_icon_pips__iycOt {
    width: 56px;
    height: 56px;
    margin-left: calc(var(--horizontal-spacing-0-5) * -4);
  }
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_newPill__ECWmA {
    display: none;
  }
}
@media (min-width: 500px) and (max-width: 1024px) {
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX {
    width: 100%;
  }
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_singleIconBanner__Information__JAPtb {
    padding: var(--vertical-spacing-1-5);
  }
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_singleIconBanner__BodyContent__DBVyl,
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_appAdIconBanner__Information__OKY8_ {
    width: 280px;
    margin-left: var(--horizontal-spacing-1-5);
    padding-bottom: var(--vertical-spacing-1);
  }
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_titlePips__jTS1J {
    margin: var(--vertical-spacing-0-5) 0;
    line-height: 1.2;
  }
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_messagePips__szJ5R {
    line-height: 1.3;
    margin-top: var(--vertical-spacing-0-5);
    width: 100%;
  }
}
@media (orientation: landscape) {
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_singleIconBanner__BodyContent__DBVyl,
  .Banner-module_singleIconBanner__LFn3K.Banner-module_crossplayBanner__a483v.Banner-module_pipsBanner__rCZYX
    .Banner-module_appAdIconBanner__Information__OKY8_ {
    width: 280px;
    margin-left: var(--horizontal-spacing-1-5);
    padding-bottom: var(--vertical-spacing-1);
  }
}
@media (min-width: 500px) and (max-width: 1024px) {
  .Banner-module_singleIconBanner__LFn3K
    .Banner-module_singleIconBanner__LFn3K {
    justify-content: center;
  }
}
@media (orientation: landscape) {
  .Banner-module_singleIconBanner__LFn3K
    .Banner-module_singleIconBanner__LFn3K {
    align-self: center;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
  }
  .Banner-module_singleIconBanner__LFn3K
    .Banner-module_singleIconBanner__LFn3K
    .Banner-module_arrow__TDcAh {
    left: 520px;
  }
  .Banner-module_singleIconBanner__LFn3K.Banner-module_pipsBanner__rCZYX {
    width: 100%;
  }
  .Banner-module_singleIconBanner__LFn3K.Banner-module_pipsBanner__rCZYX
    .Banner-module_arrow__TDcAh {
    margin-left: var(--horizontal-spacing-2);
  }
}
.Banner-module_singleIconBanner__LFn3K .Banner-module_dropShadow__DV456 {
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.3);
}
.Banner-module_newPill__ECWmA {
  width: 40px;
  height: 20px;
  display: inline;
}
.Banner-module_multiIconBanner__KZi3f {
  padding: 1rem;
  border-top: 1px solid #000;
}
.Banner-module_multiIconBanner__Information__fIvsn {
  margin: auto;
  text-align: center;
  font-weight: 700;
}
.Banner-module_multiIconBanner__Information__fIvsn
  .Banner-module_iconHolder__UIZ3u {
  text-align: center;
  margin: auto;
  background: url("./assets/icons/inline-games-all.svg") no-repeat
    center/contain;
  height: 30px;
}
.Banner-module_multiIconBanner__BodyContent__JUMyC {
  flex: 1;
}
.Banner-module_multiIconBanner__BodyContent__JUMyC h3 {
  font-size: 0.85rem;
}
.Banner-module_strandsBanner__Y0z4O {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5em 0.6em 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #000;
  z-index: 50;
}
.Banner-module_strandsBanner__Y0z4O.Banner-module_relative__wKdlH {
  position: relative;
}
.Banner-module_strandsBanner__title__h3jHw {
  margin-bottom: 0.2em;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 20.8px;
  line-height: 1.3rem;
  line-height: 20.8px;
  color: #0051b7;
  text-align: center;
}
.Banner-module_strandsBanner__subtitleContainer__yIDmd {
  text-align: center;
  font-weight: bold;
}
.Banner-module_strandsBanner__subtitleContainer__yIDmd > p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18.2px;
  line-height: 1.1375rem;
}
.Banner-module_strandsBanner__longIconContainer__aJlyR {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-inline: auto;
  position: relative;
}
.Banner-module_strandsBanner__Y0z4O button.Banner-module_iconButton__lGXVc {
  background: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
}
.Banner-module_strandsBanner__Y0z4O
  .Banner-module_bannerInformationTest__CgqDs {
  align-items: center;
  font-family: nyt-franklin, Arial;
  margin: auto;
  font-size: 16px;
  font-size: 1rem;
  line-height: 20.8px;
  line-height: 1.3rem;
  text-align: center;
}
.Banner-module_strandsBanner__Y0z4O
  .Banner-module_bannerInformationTest__CgqDs
  i {
  height: 20px;
  width: 20px;
}
.Banner-module_strandsBanner__Y0z4O .Banner-module_bannerBodyTest__pvG1w {
  flex: 1;
}
.Banner-module_strandsBanner__Y0z4O .Banner-module_bannerBodyTest__pvG1w h3 {
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0;
}
.Banner-module_strandsBanner__Y0z4O a {
  color: inherit;
  text-decoration: none;
}
.Banner-module_strandsIcon__PJgzz {
  text-align: center;
  margin: auto;
  background: url("./assets/icons/strands-download.svg") no-repeat
    center/contain;
  height: 30px;
  width: 240px;
}
.Banner-module_caretRightContainer__XN_cW {
  position: absolute;
  top: 0;
  right: -2.2em;
}
@media (min-width: 285px) {
  .Banner-module_caretRightContainer__XN_cW {
    right: -2.4em;
  }
}
@media (min-width: 315px) {
  .Banner-module_caretRightContainer__XN_cW {
    right: -3em;
  }
}
@media (min-width: 345px) {
  .Banner-module_caretRightContainer__XN_cW {
    right: -3.5em;
  }
}
@media (min-width: 390px) {
  .Banner-module_caretRightContainer__XN_cW {
    right: -4em;
  }
}
.Banner-module_caretRightContainer__XN_cW button {
  background-color: none;
}
.Banner-module_appAdIconBanner__CZlHO {
  width: 342px;
  min-height: 80px;
  margin: 0 auto;
  border-radius: 10px;
  bottom: 50px;
  padding: 0;
  border: none;
}
.Banner-module_appAdIconBanner__CZlHO .Banner-module_adArrow__fcdYH {
  order: 3;
  width: 10px;
  margin-left: var(--horizontal-spacing-2-5);
}
.Banner-module_appAdIconBanner__Content__YCtv3 {
  display: flex;
  width: 256px;
}
.Banner-module_appAdIconBanner__Information__OKY8_ h3 {
  text-wrap: nowrap;
}
.Banner-module_appAdIconBanner__Information__OKY8_ p {
  text-wrap: nowrap;
  margin-top: var(--vertical-spacing-0-5);
}
.Banner-module_appAdIconBanner__Title__vFKIK {
  font-weight: 700;
}
.Banner-module_appAdIconBanner__CZlHO .Banner-module_appAdIcon___EGjT {
  margin: 0 0 auto;
  width: 20px;
  content: url("https://www.nytimes.com/games-assets/v2/assets/icons/ad-message-icon.svg");
}
.Banner-module_appAdIconBannerStrands__eTqDb {
  bottom: 30px;
  min-height: 80px;
}
.Banner-module_appAdIconBannerStrands__eTqDb
  .Banner-module_appAdIconBanner__Title__vFKIK {
  padding-top: 0;
}
.Banner-module_appAdIconBannerStrands__Content__WoXb3 {
  margin: var(--vertical-spacing-1) 0;
}
.Banner-module_appAdIconBannerStrands__eTqDb .Banner-module_adArrow__fcdYH {
  order: 3;
  width: 10px;
  margin: auto 0 auto var(--horizontal-spacing-2-5);
}
@media (max-width: 375px) {
  .Banner-module_appAdIconBanner__CZlHO {
    bottom: 10px;
    min-height: 40px;
  }
  .Banner-module_appAdIconBanner__Content__YCtv3 {
    margin: var(--vertical-spacing-1) 0;
  }
}
.Banner-module_largeBanner__Tg6Re {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: fixed;
  height: 295px !important;
}
.Banner-module_largeBannerHidden__Ia0mu {
  display: none;
}
.Banner-module_largeBanner__dismiss__Onhae {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  margin-top: var(--vertical-spacing-2);
}
.Banner-module_largeBanner__icon__vYBoG {
  width: 125px;
  height: 102px;
}
.Banner-module_largeBanner__icon_wordleLeaderboardLarge__QZNJb {
  content: url("https://www.nytimes.com/games-assets/icons/banner-cta/wordle_leaderboard_large.svg");
}
.Banner-module_largeBanner__title__NHa1g {
  font:
    700 28px nyt-karnakcondensed,
    Georgia;
  line-height: 33px;
  margin: var(--vertical-spacing-0-5) 0;
}
.Banner-module_largeBanner__message__dc9X2 {
  font:
    500 16px nyt-franklin,
    Arial;
  text-align: center;
  margin-bottom: var(--vertical-spacing-1);
  max-width: 315px;
}
@media (orientation: landscape) {
  .Banner-module_largeBanner__Tg6Re {
    display: none;
  }
}
body.pz-games-app-android.pz-games-sale-banner:not(.pz-sub)
  .Banner-module_sbBanner__ZvMcF {
  margin-top: calc(var(--vertical-spacing-6) * -2);
}
.Banner-module_sbBanner__ZvMcF .Banner-module_adArrow__fcdYH {
  align-self: center;
}
.Banner-module_sbBanner__ZvMcF .Banner-module_appAdIcon___EGjT {
  margin: auto 0 auto;
}
.Banner-module_sbBanner__ZvMcF
  .Banner-module_appAdIconBanner__Information__OKY8_ {
  margin-top: auto;
  margin-bottom: auto;
}
@keyframes HamburgerCTA-module_slideDown__Zp9R8 {
  0% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes HamburgerCTA-module_flyIn__n_iiM {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes HamburgerCTA-module_flyOut__SWWEh {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes HamburgerCTA-module_fadeIn__Qz_oB {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.HamburgerCTA-module_flexContainer__h2gMF {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.HamburgerCTA-module_expandToRow__fCH7x {
}
@media (min-width: 444px) {
  .HamburgerCTA-module_expandToRow__fCH7x {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
@media (max-width: 991.98px) {
  .HamburgerCTA-module_mobileColumn__sRY5v {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.HamburgerCTA-module_visually-hidden__anJiL {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.HamburgerCTA-module_skip-link__yiKUK {
  position: absolute;
  left: -9999px;
  top: 5px;
  z-index: 999;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: "nyt-franklin";
  font-weight: 700;
  border-radius: 3px;
  background: #fff;
}
.HamburgerCTA-module_skip-link__yiKUK:focus {
  left: 50%;
  transform: translateX(-50%);
  outline: 0.125rem solid #346eb7;
  outline-offset: 0.125rem;
}
:root {
  --wordle-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Wordle-Icon-np.svg");
  --connections-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Connections-Icon-np.svg");
  --daily-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Crossword-Icon-np.svg");
  --spelling-bee-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Spelling-Bee-Icon-np.svg");
  --mini-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Mini-Icon-np.svg");
  --midi-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Midi-Icon-np.svg");
  --strands-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Strands-Icon-np.svg");
  --sudoku-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Sudoku-Icon-np.svg");
  --tiles-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Tiles-Icon-np.svg");
  --letter-boxed-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/LetterBoxed-Icon-np.svg");
}
@keyframes HamburgerCTA-module_bounce__BN_vM {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  68% {
    transform: scale(1, 1) translateY(-1px);
  }
  75% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.HamburgerCTA-module_hamburgerCTAContainer__o7NGl {
  width: 332px;
  height: 156px;
  background-color: #f8f8f8;
  border-radius: 16px;
  margin: var(--vertical-spacing-1) auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.HamburgerCTA-module_iconContainer__prPpV {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
}
.HamburgerCTA-module_iconContainer__prPpV > * {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: calc(var(--spacing-0-5) / 2);
}
.HamburgerCTA-module_wordleIcon__WSd4l {
  background-image: var(--wordle-np);
}
.HamburgerCTA-module_connectionsIcon__tf6qo {
  background-image: var(--connections-np);
}
.HamburgerCTA-module_xwdIcon__QlGgi {
  background-image: var(--daily-np);
}
.HamburgerCTA-module_sbIcon__UsYaQ {
  background-image: var(--spelling-bee-np);
}
.HamburgerCTA-module_miniIcon__ZaXAB {
  background-image: var(--mini-np);
}
.HamburgerCTA-module_midiIcon__xlaLM {
  background-image: var(--midi-np);
}
.HamburgerCTA-module_strandsIcon__EQaX3 {
  background-image: var(--strands-np);
}
.HamburgerCTA-module_sudokuIcon__Kuest {
  background-image: var(--sudoku-np);
}
.HamburgerCTA-module_tilesIcon__BRCpu {
  background-image: var(--tiles-np);
}
.HamburgerCTA-module_lbIcon__EJ66G {
  background-image: var(--letter-boxed-np);
}
.HamburgerCTA-module_animateSharedNav__IrLvx div,
.HamburgerCTA-module_animateWordleNav__RaIdx div {
  display: inline-block;
}
.HamburgerCTA-module_animateSharedNav__IrLvx div:first-child,
.HamburgerCTA-module_animateWordleNav__RaIdx div:first-child {
  animation: 1s linear 5ms 1 forwards HamburgerCTA-module_bounce__BN_vM;
}
.HamburgerCTA-module_animateSharedNav__IrLvx div:nth-child(2),
.HamburgerCTA-module_animateWordleNav__RaIdx div:nth-child(2) {
  animation: 1s linear 70ms 1 forwards HamburgerCTA-module_bounce__BN_vM;
}
.HamburgerCTA-module_animateSharedNav__IrLvx div:nth-child(3),
.HamburgerCTA-module_animateWordleNav__RaIdx div:nth-child(3) {
  animation: 1s linear 135ms 1 forwards HamburgerCTA-module_bounce__BN_vM;
}
.HamburgerCTA-module_animateSharedNav__IrLvx div:nth-child(4),
.HamburgerCTA-module_animateWordleNav__RaIdx div:nth-child(4) {
  animation: 1s linear 200ms 1 forwards HamburgerCTA-module_bounce__BN_vM;
}
.HamburgerCTA-module_animateSharedNav__IrLvx div:nth-child(5),
.HamburgerCTA-module_animateWordleNav__RaIdx div:nth-child(5) {
  animation: 1s linear 265ms 1 forwards HamburgerCTA-module_bounce__BN_vM;
}
.HamburgerCTA-module_animateSharedNav__IrLvx div:nth-child(6),
.HamburgerCTA-module_animateWordleNav__RaIdx div:nth-child(6) {
  animation: 1s linear 330ms 1 forwards HamburgerCTA-module_bounce__BN_vM;
}
.HamburgerCTA-module_animateSharedNav__IrLvx div:nth-child(7),
.HamburgerCTA-module_animateWordleNav__RaIdx div:nth-child(7) {
  animation: 1s linear 395ms 1 forwards HamburgerCTA-module_bounce__BN_vM;
}
.HamburgerCTA-module_animateSharedNav__IrLvx div:nth-child(8),
.HamburgerCTA-module_animateWordleNav__RaIdx div:nth-child(8) {
  animation: 1s linear 460ms 1 forwards HamburgerCTA-module_bounce__BN_vM;
}
.HamburgerCTA-module_animateSharedNav__IrLvx div:nth-child(9),
.HamburgerCTA-module_animateWordleNav__RaIdx div:nth-child(9) {
  animation: 1s linear 520ms 1 forwards HamburgerCTA-module_bounce__BN_vM;
}
.HamburgerCTA-module_textContainer__ajF8l {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: var(--vertical-spacing-2);
}
.HamburgerCTA-module_textContainer__ajF8l h1 {
  text-align: center;
  font:
    28px/1 nyt-karnakcondensed,
    Georgia;
  color: #000;
}
.HamburgerCTA-module_textContainer__ajF8l p {
  margin-top: var(--vertical-spacing-1);
  text-align: center;
  font:
    16px/115% nyt-franklin,
    Arial;
  color: #424242;
}
.HamburgerCTA-module_downloadText__rHx0F {
  font-size: 14px;
  color: #000;
  margin-top: var(--vertical-spacing-1);
  font-weight: 600;
  border-bottom: solid 0.2px;
}
@media (max-width: 375px) {
  .HamburgerCTA-module_hamburgerCTAContainer__o7NGl {
    height: 128px;
  }
  .HamburgerCTA-module_iconContainer__prPpV {
    margin: 0 auto var(--vertical-spacing-1);
  }
  .HamburgerCTA-module_iconContainer__prPpV > * {
    width: 20px;
    height: 20px;
  }
  .HamburgerCTA-module_textContainer__ajF8l {
    padding-top: 0;
  }
  .HamburgerCTA-module_textContainer__ajF8l h1 {
    font-size: 24px;
  }
  .HamburgerCTA-module_textContainer__ajF8l p {
    font-size: 14px;
  }
}
.dark .HamburgerCTA-module_hamburgerCTAContainer__o7NGl {
  background-color: #424242;
}
.dark .HamburgerCTA-module_textContainer__ajF8l h1 {
  color: #f8f8f8;
}
.dark .HamburgerCTA-module_textContainer__ajF8l p {
  color: #f8f8f8;
}
.dark .HamburgerCTA-module_downloadText__rHx0F {
  color: #f8f8f8;
}
@keyframes CrossplayCTA-module_slideDown__KXqmO {
  0% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes CrossplayCTA-module_flyIn__VwfLn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CrossplayCTA-module_flyOut__nbUMN {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes CrossplayCTA-module_fadeIn__OGAXj {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.CrossplayCTA-module_flexContainer__ipToc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.CrossplayCTA-module_expandToRow__ysLAZ {
}
@media (min-width: 444px) {
  .CrossplayCTA-module_expandToRow__ysLAZ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
@media (max-width: 991.98px) {
  .CrossplayCTA-module_mobileColumn__rZNb2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.CrossplayCTA-module_visually-hidden__zfMda {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.CrossplayCTA-module_skip-link__zrgPs {
  position: absolute;
  left: -9999px;
  top: 5px;
  z-index: 999;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: "nyt-franklin";
  font-weight: 700;
  border-radius: 3px;
  background: #fff;
}
.CrossplayCTA-module_skip-link__zrgPs:focus {
  left: 50%;
  transform: translateX(-50%);
  outline: 0.125rem solid #346eb7;
  outline-offset: 0.125rem;
}
:root {
  --crossplay-image: url("./assets/crossplay/bannerV2.svg");
}
.CrossplayCTA-module_crossplayCTAContainer__TunE_ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  min-height: 207px;
  background-origin: content-box;
  background-color: #4076c6;
  background-size: 112%;
  background-position: -30px -3px;
  background-repeat: no-repeat;
  background-image: var(--crossplay-image);
}
.CrossplayCTA-module_textContainer__qWxRS {
  margin: var(--spacing-5) var(--spacing-2-5);
  max-width: 180px;
  display: grid;
  grid-gap: var(--spacing-1);
}
.CrossplayCTA-module_textContainer__qWxRS > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-1-5);
}
.CrossplayCTA-module_textContainer__qWxRS > div h2 {
  font:
    32px/1 nyt-karnakcondensed,
    Georgia;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.CrossplayCTA-module_textContainer__qWxRS > div > i {
  min-width: 32px;
  min-height: 32px;
  margin-right: 0;
}
.CrossplayCTA-module_textContainer__qWxRS p {
  font:
    16px/115% nyt-franklin,
    Arial;
  color: #fff;
}
.CrossplayCTA-module_downloadText__pE9NT {
  background-color: var(--bg-btn-emphasis);
  color: var(--text-alternate);
  font:
    14px/115% nyt-franklin,
    Arial;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: var(--spacing-1) var(--spacing-1-5);
  border-radius: 24px;
  max-width: 113px;
  box-sizing: border-box;
}
.dark .CrossplayCTA-module_downloadText__pE9NT {
  background-color: var(--white);
  color: var(--dark-black);
}
@media (max-width: 375px) {
  .CrossplayCTA-module_crossplayCTAContainer__TunE_ {
    min-height: 200px;
    background-size: 110%;
    background-position: -22px -6px;
  }
  .CrossplayCTA-module_textContainer__qWxRS {
    margin: var(--spacing-4) var(--spacing-2);
  }
  .CrossplayCTA-module_textContainer__qWxRS h2 {
    font-size: 24px;
  }
  .CrossplayCTA-module_textContainer__qWxRS p {
    max-width: 157px;
    font-size: 14px;
  }
}
@keyframes CrosswordFamilyWeekCTA-module_slideDown__fGFTB {
  0% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes CrosswordFamilyWeekCTA-module_flyIn__ToAav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CrosswordFamilyWeekCTA-module_flyOut___hsTv {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes CrosswordFamilyWeekCTA-module_fadeIn__c1HMK {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.CrosswordFamilyWeekCTA-module_flexContainer__cQ7Kn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.CrosswordFamilyWeekCTA-module_expandToRow__WNOUA {
}
@media (min-width: 444px) {
  .CrosswordFamilyWeekCTA-module_expandToRow__WNOUA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
@media (max-width: 991.98px) {
  .CrosswordFamilyWeekCTA-module_mobileColumn__w8VCg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.CrosswordFamilyWeekCTA-module_visually-hidden__eE9e2 {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.CrosswordFamilyWeekCTA-module_skip-link__Lr4BK {
  position: absolute;
  left: -9999px;
  top: 5px;
  z-index: 999;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: "nyt-franklin";
  font-weight: 700;
  border-radius: 3px;
  background: #fff;
}
.CrosswordFamilyWeekCTA-module_skip-link__Lr4BK:focus {
  left: 50%;
  transform: translateX(-50%);
  outline: 0.125rem solid #346eb7;
  outline-offset: 0.125rem;
}
.CrosswordFamilyWeekCTA-module_container__uPbT6 {
  position: relative;
  overflow: hidden;
  min-height: 212px;
  background-color: #fafafa;
  background-image: url("./assets/crossword-family-week/crossword-large-card.png");
  background-repeat: no-repeat;
  background-position: right -44px top -19px;
  background-size: 227px auto;
}
.CrosswordFamilyWeekCTA-module_textContainer__UU1j8 {
  position: absolute;
  top: 31px;
  left: 21px;
  width: 216px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1-5);
}
.CrosswordFamilyWeekCTA-module_textBlock__h6ezb {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}
.CrosswordFamilyWeekCTA-module_headline__WN03f {
  font:
    700 22px/115% nyt-karnakcondensed,
    Georgia;
  color: #000;
  white-space: pre-line;
}
.CrosswordFamilyWeekCTA-module_body__oxXFM {
  font:
    500 16px/130% nyt-franklin,
    Arial;
  color: #000;
}
.CrosswordFamilyWeekCTA-module_downloadLink__fY0EC {
  align-self: flex-start;
  text-decoration: none;
}
.CrosswordFamilyWeekCTA-module_downloadText__pobsJ {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font:
    600 14px/130% nyt-franklin,
    Arial;
  padding: 0 var(--spacing-1-5);
  height: 32px;
  border-radius: 24px;
  box-sizing: border-box;
}
.dark .CrosswordFamilyWeekCTA-module_container__uPbT6 {
  background-color: #424242;
}
.dark .CrosswordFamilyWeekCTA-module_headline__WN03f,
.dark .CrosswordFamilyWeekCTA-module_body__oxXFM {
  color: #f8f8f8;
}
.dark .CrosswordFamilyWeekCTA-module_downloadText__pobsJ {
  background: var(--bg-bg-btn-emphasis, #fff);
  color: var(--content-text-alternate, #121212);
}
@media (min-width: 768px) {
  .CrosswordFamilyWeekCTA-module_body__oxXFM {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .CrosswordFamilyWeekCTA-module_container__uPbT6 {
    min-height: 180px;
  }
  .CrosswordFamilyWeekCTA-module_textContainer__UU1j8 {
    top: 20px;
    left: 16px;
    width: 196px;
  }
}
.Footer-module_container__rWkM9 {
  display: none;
}
@media (min-height: 650px) {
  .Footer-module_container__rWkM9:not(.Footer-module_mobile__dAjsf) {
    display: block;
    padding: 0 0 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
.Footer-module_sectionLink__OCHvG {
  width: auto;
}
.Footer-module_legalLinksContainer__OIfTt {
  display: block;
  margin: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
}
.Footer-module_legalLink__saQgH {
  display: inline-flex;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  color: var(--key-text-color, #000);
}
.Footer-module_legalLink__saQgH a {
  text-decoration: none;
  color: inherit;
}
.Footer-module_legalLink__saQgH a,
.Footer-module_legalLink__saQgH span {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.7px;
}
.Footer-module_legalLink__saQgH + ::before {
  color: var(--key-text-color, #000);
  padding: 0 5px;
}
.Footer-module_legalLink__saQgH .Footer-module_privacyChoices__eFVZk {
  line-height: 13px;
  display: flex;
}
@media (max-width: 499px) {
  .Footer-module_legalLinksContainer__OIfTt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    line-height: 13px;
  }
  .Footer-module_legalLink__saQgH {
    margin-bottom: 10px;
  }
  .pz-footer__legal-co {
    text-align: left;
  }
}
@media (min-width: 500px) {
  .Footer-module_legalLink__saQgH + ::before {
    content: "|";
  }
}

/*# sourceMappingURL=4026.e10557e7ba8d46b36a98.css.map*/
